body{
    background-color: rgb(117, 151, 151);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#TopBox{
    width: auto;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#BottomBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    #perfil{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: rgb(45, 68, 60);
}
.lacuna{
    width: 200px;
    height: 200px;
    border-radius: 15%;
    background-color: rgb(51, 97, 87);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cor{
    width: 200px;
    height: 35%;
    background-color: rgb(47, 71, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 200px;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media( min-width: 700px ) {
    #TopBox{
        flex-direction: row;
    }
    #perfil{
        margin-right: 40px;
    }
    #BottomBox{
    flex-direction: row;
    }
    .lacuna{
        margin-right: 40px;
    }
}